<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.VideoDao">

    <resultMap id="all" type="video">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="brief" property="brief"></result>
        <result column="cover_path" property="coverPath"></result>
        <result column="video_path" property="videoPath"></result>
        <result column="create_date" property="createDate"></result>
        <association property="category">
            <id column="category_id" property="id"></id>
            <result column="cate_name" property="cate_name"></result>
        </association>
        <association property="user">
            <id column="uid" property="id"></id>
            <result column="username" property="username"></result>
        </association>

    </resultMap>

    <!--//分页查所有-->
    <!--List<Video> queryByPage(@Param("start")int start,@Param("size")int size);-->
    <select id="queryByPage" resultMap="all">
        select video.id,title,video.brief,cover_path,video_path,create_date,category_id,category.cate_name,user.id uid,user.username
        from (select id,title,brief,cover_path,video_path,create_date,category_id,user_id
        from yx_video limit #{start},#{size}) video
        left join yx_category category on video.category_id=category.id
        left join yx_user user on video.user_id=user.id
    </select>

    <!--//查询总条数-->
    <!--int selectCount();-->
    <select id="selectCount" resultType="int">
        select count(*) from yx_video
    </select>

    <!--//添加视频信息-->
    <!--void addVideo(Video video);-->
    <insert id="addVideo" parameterType="video">
        insert into yx_video values(#{id},#{title},#{brief},#{coverPath},#{videoPath},#{createDate},#{category.id},#{user.id},#{groupId})
    </insert>

    <!--//删除视频-->
    <!--void deleteVideo(String id);-->
    <delete id="deleteVideo" parameterType="String">
        delete from yx_video where id=#{id}
    </delete>


</mapper>